
$text_blue:#261B6C;
$text-blue-faded:#261b6c8c;
$button_gold:#B2904C;
$gold-light:#C6A460;
$faded_gold:#F7F5E8;
$black:#000000;
$white:#FFFFFF;
$faded_w_bg:#F8F8F8;
$red_faded:#FF4655;
$section_blue:#018BF1;
$btn_fadedred:#F7F5E8;
